---
const { t } = Astro.props;
import FormInput from "../FormInput.astro";
---

<section id="form">
	<h2>今天的支持，<br class="rwd-hidden" />成就十年後的技術領袖</h2>
	<div class="container">
		<form id="sponsor-form">
			<h3>公司贊助</h3>
			<FormInput title="單位名稱" name="organization" required />
			<FormInput title="部門/負責業務" name="department" description="單位名稱" />
			<FormInput title="如何稱呼您？" name="name" required />
			<FormInput title="聯絡方式" name="contact" placeholder="Telegram / @SITCONgeneral" description="Email、FB、LINE ID 或 Telegram ... 等，各式我們能聯絡到您的方式。" required />
			<FormInput title="還有什麼想和我們說的嗎？" name="message" />
			<div id="submit-section">
				<button id="submit">送出</button>
				<span id="form-message"></span>
			</div>
		</form>
		<div class="divider"></div>
		<div class="personal">
			<h3>或是以個人名義贊助 SITCON</h3>
			<a class="personal-button" href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=76" target="_blank">立即贊助</a>
		</div>
	</div>
</section>

<script>
	const apiUrl = "https://script.google.com/macros/s/AKfycbyykeFH0wcHMu8_kM3GWa3DWOvJt7Fq0wNc5hROMO1pN8PTjazUTJQi30OEkSrmVZpO/exec";

	const form = document.getElementById("sponsor-form") as HTMLFormElement;
	const submitButton = document.getElementById("submit") as HTMLButtonElement;
	const messageElement = document.getElementById("form-message") as HTMLDivElement;
	const submitButtonText = document.getElementById("submit") as HTMLSpanElement;

	const checkForm = () => {
		const formData = new FormData(form);
		if (!formData.get("organization") || !formData.get("name") || !formData.get("contact")) {
			messageElement.textContent = "請確認必填欄位";
			return false;
		}
		if (
			(formData.get("contact") && formData.get("contact")?.toString()[0] == "=") ||
			(formData.get("name") && formData.get("name")?.toString()[0] == "=") ||
			(formData.get("organization") && formData.get("organization")?.toString()[0] == "=") ||
			(formData.get("department") && formData.get("department")?.toString()[0] == "=") ||
			(formData.get("message") && formData.get("message")?.toString()[0] == "=")
		) {
			messageElement.textContent = "回答的第一個字不可是=";
			return false;
		}
		messageElement.textContent = "";
		return true;
	};

	submitButton?.addEventListener("click", event => {
		event.preventDefault();
		submitButton.disabled = true;
		submitButtonText.textContent = "送出中...";
		if (checkForm()) {
			fetch(apiUrl, {
				method: "POST",
				body: new FormData(form)
			})
				.then(async res => {
					const data = await res.json();
					if (data.code == 200) {
						form.reset();
						submitButton.disabled = false;
						submitButtonText.textContent = "送出";
					}
					messageElement.textContent = data.message;
				})
				.catch(e => {
					console.error(e);
					messageElement.textContent = "發生錯誤，請稍後再試";
				});
		} else {
			submitButton.disabled = false;
			submitButtonText.textContent = "送出";
		}
	});
</script>

<style>
	section {
		background: linear-gradient(#f1f3fb, #fff 8rem);
		padding: 2rem;
	}
	h2 {
		padding-block: 10rem 5rem;
	}
	h3 {
		font-size: 2.5rem;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin: auto;
	}

	#sponsor-form,
	.personal {
		flex: 1;
		max-width: 33rem;
	}

	#sponsor-form h3 {
		margin-bottom: 1.5rem;
	}

	#form-message {
		margin-top: 0.5rem;
		color: #0171e3;
	}

	.form-title {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 120%; /* 3rem */
	}

	.personal {
		text-align: center;
	}
	.personal-button {
		padding: 0.75rem 1.5rem;
		text-decoration: none;
		border-radius: 100px;
		margin-top: 1rem;
		display: inline-block;
	}

	.divider {
		background: var(--black);
		width: 1px;
		height: 30rem;
	}

	.rwd-hidden {
		display: none;
	}

	#submit {
		padding: 0.5rem 1.5rem;
		border-radius: 0.25rem;
		margin: .25rem 1rem 1rem 0rem;
	}

	.personal-button,
	#submit {
		border: none;
		cursor: pointer;
		background-color: #0171e3;
		color: var(--white);
		transition: background-color 0.3s ease;
	}

	.personal-button:hover,
	#submit:hover {
		background-color: #0a7bec;
	}

	.personal-button:active,
	#submit:active {
		background-color: #0056b3;
	}

	@media (max-width: 65rem) {
		.rwd-hidden {
			display: inline;
		}
	}

	@media (max-width: 60rem) {
		h2 {
		}
		.divider {
			display: none;
		}

		.container {
			flex-direction: column;
			gap: 5rem;
		}
	}
</style>
